.header {
    background-color: #fafafa; /* Header background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerContent h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #292929;
  }
  
  .headerContent p {
    font-size: 0.9rem;
    margin: 0rem 0;
    color: #4f4f4f;
  }
  
  .hireButton {
    margin-top: 1rem;
    padding: 7px 20px;
    background-color: #83ce99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .hireButton:hover {
    background-color: #83ce99;
  }