.headerContainer {
    border-bottom-width: 1px;
    border-color: #f3f3f3;
}
.titleName {
    color:#969696;
    font-size: 24px;
}
.firstName {
    color:#969696;
}
.lastName {
    color:#0f0f0f;
}
.chatButtonContainer {
    width: 120px;
    height: 40px;
    border-radius: 25px;
    border-width: 1px;
}